<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Basic project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Ajout article</a></li>
                {% if app.user is null %}
                    <li><a href="{{ path('app_login') }}"><i class="icon-unlock"></i></a></li>
                    <li><a href="{{ path('app_register') }}"><i class="icon-signin"></i></a></li>
                {% endif %}
                {% if app.user is not null %}
                    <li><a href="{{ path('app_logout') }}"><i class="icon-signout"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>